{% extends "admin/base_site.html" %}
{#{% load bootstrap4 %}#}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript jquery='full' %}#}

{% block content %}
    {{ block.super }}
    <form action="" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="col-6 offset-md-3">
                {#                {% bootstrap_form form  %}#}
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Update Hold PV</h3>
                    </div>
                </div>

            </div>
            <div class="col-6 offset-md-3" style="margin-top: 16px">
                <div class="row">
                    <div class="col-2 col-xs-12">
                        <label for="member">Member: </label>
                    </div>
                    <div class="col-10 col-xs-12">
                        <input id="member" type="text" name="member">
                    </div>
                </div>

            </div>
            <div class="col-6 offset-md-3" style="margin-top: 16px">
                <div class="row">
                    <div class="col-2 col-xs-12">
                        <label for="hpv">HPV: </label>
                    </div>
                    <div class="col-10 col-xs-12">
                        <input id="hpv" type="text" name="hpv">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-md-3">
                <div class="form-group" style="text-align: right;">
                    <button type="submit" class="btn btn-primary" style="margin-right: 20px">Submit</button>
                    <a class="btn btn-danger" href="/admin/member/member/">Back</a>

                </div>
            </div>

        </div>


    </form>
{% endblock %}
